<div class="modal inmodal fade" id="rModal" tabindex="-1" role="dialog"  aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Strategic Risk</h4>
                <small class="font-bold">Strategic Objectives.</small>
            </div>
            <div class="modal-body">
            <form role="form">

                <div class="form-group"><label for="risk_desc">Description</label>
                    <textarea class="form-control" id="risk_desc" maxlength="500" rows="5" ></textarea>
                </div>
                <div class="form-group">
                    <label for="risk_prob">Likelihood</label>
                    <input type="text" id="risk_prob"  class="form-control" >
                </div>
                <div class="form-group"><label for="risk_impact">Impact</label>
                    <textarea class="form-control" id="risk_impact" maxlength="500" rows="5" ></textarea>
                </div>
                <div class="form-group"><label for="risk_mit">Mitigation Plan</label>
                    <textarea class="form-control" id="risk_mit" maxlength="500" rows="5" ></textarea>
                </div>
            </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary"  id="add_risk">Add Entry</button>
            </div>
        </div>
    </div>
</div>
