<div class="wrapper wrapper-content animated fadeInRight" id="capture_overview" style="display: none">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>Strategic Overview <small>Organisational strategic overview</small></h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-lg-4">
                            <form role="form">
                                 {% csrf_token %}
                                 <input type="hidden" id="user_branch" value="">
                                <div class="form-group"><label for="vision">Vision</label>
                                    <textarea class="form-control" id="vision" maxlength="500" rows="5" required></textarea>
                                </div>
                                <div class="form-group"><label for="values">Values</label>
                                    <textarea class="form-control value_desc" id="values" maxlength="500" rows="5" ></textarea>
                                </div>
                                <div class="form-group"><label for="analysis">Situational Analysis</label>
                                    <textarea class="form-control" id="analysis" maxlength="500" rows="5" ></textarea>
                                </div>

                            </form>
                        </div>
                        <div class="col-lg-4">
                             <form role="form">
                              {% csrf_token %}
                              <div class="form-group"><label for="mission">Mission</label>
                                        <textarea class="form-control" id="mission" maxlength="500" rows="5" ></textarea>
                              </div>
                              <div class="form-group">
                                    <label for="goals">Goals</label>
                                   <textarea class="form-control" id="goals" maxlength="500" rows="5" ></textarea>
                              </div>
                              <div class="form-group"><label for="mtef_budget_">MTEF & Budget</label>
                                <textarea class="form-control" id="mtef_budget_" maxlength="500" rows="5"></textarea>
                                </div>
                             </form>

                        </div>
                        <div class="col-lg-4">
                        <div class="form-group"><label for="revisions">Revisions and Other Mandates</label>
                                <textarea class="form-control" id="revisions" maxlength="500" rows="5" ></textarea>
                        </div>
                        <div class="form-group">
                        <label for="risks">Risks</label>
                        <textarea class="form-control" id="risks" maxlength="500" rows="5" ></textarea>
                        </div>
                        <div class="form-group"><label for="priority_p">Priority Programme</label>
                             <textarea class="form-control" id="priority_p" maxlength="500" rows="5"></textarea>
                        </div>
                        </div>
                        <div class="modal-footer">
                        <button type="button" class="btn btn-primary pull-right " id="sign_off">Sign Off</button>
{#                        <button type="button" class="btn btn-white" id="save_continue_overview">Save and Continue Editing</button>#}
                        <button type="button" class="btn btn-primary " id="save_overview">Save and Exit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% include 'strategy/sidebar-crumps.html' %}

    </div>
</div>

