<div class="modal inmodal fade" id="soModal" tabindex="-1" role="dialog"  aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Strategic Output</h4>
                <small class="font-bold">Strategic Objectives.</small>
            </div>
            <div class="modal-body">
            <form role="form">
                <div class="form-group">
                    <label for="kpi">Key Performance Area</label>
                    <input type="text" id="so_kpi"  class="form-control" placeholder="Enter KPI ">
                </div>
                 <div class="form-group"><label for="so_output">Output</label>
                    <textarea class="form-control" id="so" maxlength="500" rows="5" ></textarea>
                </div>
            </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary"  id="add_so">Add Entry</button>
            </div>
        </div>
    </div>
</div>

