<div class="wrapper wrapper-content animated fadeInRight" id="add_strat_obj" style="display: none">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>Strategic Plan <small>Strategic Plan and Development</small></h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                    <div class="ibox-content">
                        <div class="row">
                            <div class="col-lg-11">
                                <div class="tabs-container">

                        <div class="tabs-right">
                            <ul class="nav nav-tabs">
                                <li><a class="nav-link active" data-toggle="tab" href="#tab-goal">Goal</a></li>
                                <li><a class="nav-link" data-toggle="tab" href="#tab-stratobj">Strategic Objective</a></li>
                                <li><a class="nav-link links" data-toggle="tab" href="#tab-subprogramme">Sub-Programmes</a></li>
                                <li><a class="nav-link links" data-toggle="tab" href="#tab-imperatives">Links to National Imperatives</a></li>
                                <li><a class="nav-link objectives" data-toggle="tab" href="#tab-output">Strategic Output</a></li>
                                <li><a class="nav-link kpi_objectives" data-toggle="tab" href="#tab-kpi_">KPI</a></li>
                                <li><a class="nav-link kpi" data-toggle="tab" href="#tab-target_">Target</a></li>
                                <li><a class="nav-link" data-toggle="tab" href="#tab-risk_">Risk</a></li>
                                <li><a class="nav-link" data-toggle="tab" href="#tab-rplan">Resource Plan</a></li>
                            </ul>
                            <div class="tab-content">
                                <div id="tab-goal" class="tab-pane active">
                                    <div class="panel-body">
                                        <form role="form">
                                             <div class="form-group"><label for="goal">Goal</label>
                                                 <textarea type="text" id="goal" required="required" class="form-control" maxlength="500" rows="5"></textarea>
                                            </div>
                                            <div class="form-group"><label for="goal_stmnt">Goal Statement</label>
                                                <textarea type="text" id="goal_stmnt" class="form-control" maxlength="500" rows="5"></textarea>
                                            </div>
                                        </form>
                                        <button type="button" class="btn btn-warning" data-toggle="modal"
                                                    data-target="#goalModal" id="display_goals">
                                                View Goals
                                        </button>
                                        <button type="button" class="btn btn-primary" id="save_goal_statement">Save</button>
                                    </div>
                                </div>
                                <div id="tab-imperatives" class="tab-pane">
                                    <div class="panel-body">
                                        <form role="form">
                                             <div class="form-group"><label for="strategicObjectives">Strategic Objective</label>
                                                <select name="strategicObjectives" id="" class="form-control strategicObjectives">
                                                    <option value="None" selected="Selected">Select Objective</option>
                                                </select>
                                            </div>
                                             <div class="form-group"><label for="imperatives">Links to National Imperatives</label>
                                                 <input type="text" id="imperatives"  class="form-control">
                                            </div>
                                            <button type="button" class="btn btn-warning" data-toggle="modal"
                                                            data-target="#imperativeModal" id="display_imperatives">
                                                        View Imperatives
                                            </button>
                                            <button type="button" class="btn btn-primary" id="save_imperatives">Save</button>

                                        </form>
                                    </div>
                                </div>

                                <div id="tab-subprogramme" class="tab-pane">
                                    <div class="panel-body">
                                        <form role="form">
                                             <div class="form-group"><label for="strategicObjectives">Strategic Objective</label>
                                                <select name="strategicObjectives" id="" class="form-control strategicObjectives">
                                                    <option value="None" selected="Selected">Select Objective</option>
                                                </select>
                                            </div>
                                             <div class="form-group"><label for="subprogramme">Sub Programme</label>
                                                 <input type="text" id="subprogramme"  class="form-control">
                                            </div>
                                            <button type="button" class="btn btn-warning" data-toggle="modal"
                                                            data-target="#imperativeModal" id="display_subprogrammes">
                                                        View Subprogrammes
                                            </button>
                                            <button type="button" class="btn btn-primary" id="save_subprogrammes">Save</button>

                                        </form>
                                    </div>
                                </div>
                                <div id="tab-kpi_" class="tab-pane">
                                    <div class="panel-body">
                                        <form role="form">
                                            <div class="form-group"><label for="strategicObjectives">Strategic Objective</label>
                                                <select name="kpiStrategicObjectives" id="kpiStrategicObjectives" class="form-control">
                                                    <option value="None" selected="Selected">Select Objective</option>
                                                </select>
                                            </div>
                                             <div class="form-group"><label for="kpi_">Key Performance Indicator</label>
                                                 <input type="text" id="kpi"  class="form-control">
                                            </div>

                                             <button type="button" class="btn btn-warning" data-toggle="modal"
                                                    data-target="#kpiModal" id="display_kpis">
                                                View KPI
                                            </button>
                                            <button type="button" class="btn btn-primary"  id="save_kpi">Save</button>
                                        </form>

                                    </div>
                                </div>
                                <div id="tab-target_" class="tab-pane">
                                    <div class="panel-body">
                                        <form role="form">
                                            <div class="form-group">
                                                <div class="form-group"><label for="kpi">Key Performance Indicator (KPI)</label>
                                                <select name="kpi_" id="kpi_" class="form-control">
                                                    <option value="None" selected="Selected">Select KPI</option>
                                                </select>
                                            </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="year_index">Year</label>
                                                    <select title="Select Year Index" id="year_index">
                                                        <option value="1">1</option>
                                                        <option value="2">2</option>
                                                        <option value="3">3</option>
                                                        <option value="3">3</option>
                                                        <option value="4">4</option>
                                                        <option value="5">5</option>

                                                    </select>
                                            </div>
                                            <div class="col-lg-3">
                                                <div class="form-group">
                                                    <label class="font-normal" for="target_start_date">Start Date</label>
                                                        <div class="input-group date">
                                                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                                            <input type="text" class="form-control" id="target_start_date">
                                                        </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-3">
                                                <div class="form-group">
                                                <label class="font-normal" for="target_end_date">End Date</label>
                                                    <div class="input-group date">
                                                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                                        <input type="text" class="form-control" id="target_end_date">
                                                    </div>
                                                </div>
                                            </div>
                                             <div class="form-group"><label for="baseline_">Baseline</label>
                                                <textarea class="form-control" id="baseline_" maxlength="500" rows="5" ></textarea>
                                            </div> <div class="form-group"><label for="evidence"> Evidence</label>
                                                <textarea class="form-control" id="evidence" maxlength="500" rows="5" ></textarea>
                                            </div>
                                            <button type="button" class="btn btn-warning" data-toggle="modal"
                                                            data-target="#targetsModal" id="display_targets">
                                                        View Target
                                            </button>
                                            <button type="button" class="btn btn-primary"  id="save_target">Save</button>
                                        </form>

                                    </div>
                                </div>
                                <div id="tab-output" class="tab-pane">
                                    <div class="panel-body">
                                        <form role="form">
                                            <div class="form-group">
                                                <label for="kpi">Strategic Objective</label>
                                                <select name="outputStrategicObjectives" id="outputStrategicObjectives" class="form-control">
                                                    <option value="None" selected="Selected" title="Select a Strategic Objective">Select Objective</option>
                                                </select>
                                            </div>
                                             <div class="form-group"><label for="strategic_output">Output</label>
                                                <textarea class="form-control" id="strategic_output" maxlength="500" rows="5" ></textarea>
                                            </div>
                                            <button type="button" class="btn btn-warning" data-toggle="modal"
                                                            data-target="#outputsModal" id="display_outputs">
                                                        View Strategic Outputs
                                            </button>
                                            <button type="button" class="btn btn-primary" id="save_output">Save</button>
                                         </form>
                                    </div>
                                </div>
                                <div id="tab-risk_" class="tab-pane">
                                    <div class="panel-body">

                                         <form role="form">
                                            <div class="form-group"><label for="risk_desc">Description</label>
                                                <textarea class="form-control" id="risk_desc" maxlength="500" rows="5" ></textarea>
                                            </div>
                                            <div class="form-group">
                                                <label for="risk_likelihood">Likelihood</label>
                                                <input type="text" id="risk_likelihood"  class="form-control" >
                                            </div>
                                            <div class="form-group"><label for="risk_impact">Impact</label>
                                                <textarea class="form-control" id="risk_impact" maxlength="500" rows="5" ></textarea>
                                            </div>
                                            <div class="form-group"><label for="risk_mit">Mitigation Plan</label>
                                                <textarea class="form-control" id="risk_mit" maxlength="500" rows="5" ></textarea>
                                            </div>
                                              <button type="button" class="btn btn-warning" data-toggle="modal"
                                                            data-target="#riskModal" id="display_risk">
                                                        View Risks
                                                </button>
                                              <button type="button" class="btn btn-primary"  id="save_risk">Save Risk</button>
                                        </form>

                                    </div>
                                </div>
                                <div id="tab-rplan" class="tab-pane">
                                    <div class="panel-body">
                                        <form role="form">
                                             <div class="form-group"><label for="resource_plan">Resource Plan</label>
                                                <textarea class="form-control" id="resource_plan" maxlength="500" rows="5" ></textarea>
                                            </div>
                                           <button type="button" class="btn btn-primary"  id="save_plan">Save Resource Plan</button>
                                        </form>
                                    </div>
                                </div>
                                <div id="tab-stratobj" class="tab-pane">
                                    <div class="panel-body">
                                       <form role="form">

                                                <div class="form-group">
                                                <label for=objective">Objective</label>
                                                <textarea class="form-control" id="objective" maxlength="500" rows="5" ></textarea>
                                                </div>
                                                 <div class="form-group">
                                                <label for="statement">Statement</label>
                                                <textarea class="form-control" id="statement" maxlength="500" rows="5" ></textarea>
                                                </div>
                                                <div class="form-group">
                                                <label for=baseline">Baseline</label>
                                                <textarea class="form-control" id="strat_baseline" maxlength="500" rows="5" ></textarea>
                                                </div>
                                                <div class="form-group"><label for="justification">Justification</label>
                                                <textarea class="form-control" id="justification" maxlength="500" rows="5" ></textarea>
                                                </div>
                                                <div class="form-group"><label for="links">Link</label>
                                                <textarea class="form-control" id="links" maxlength="500" rows="2" ></textarea>
                                                </div>
                                                   <button type="button" class="btn btn-warning" data-toggle="modal"
                                                            data-target="#objectiveModal" id="display_objectives">
                                                        View Objectives
                                                </button>
                                                <button type="button" class="btn btn-primary" id="save_objective">Save</button>
                                       </form>

                                    </div>
                                </div>
                            </div>
                        </div>

                        </div>

                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

