<div class="modal inmodal fade" id="kpiModal" tabindex="-1" role="dialog"  aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Key Performance Indicators</h4>
                <small class="font-bold">Strategic Objectives.</small>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-" id="list_kpis_edit" style="display: none">
                        <div class="ibox">
                             <table class="table table-bordered">
                                <ul id="cached_kpi_list">

                                </ul>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
