<div class="row">
<div class="col-lg-6" id="so_list_temp" style="display: none">
    <div class="ibox">
        <div class="ibox-title">
            <h5>Strategic Outputs</h5>
            <div class="ibox-tools">
                <a class="collapse-link">
                    <i class="fa fa-chevron-up"></i>
                </a>
                <a class="close-link">
                    <i class="fa fa-times"></i>
                </a>
            </div>
        </div>
        <div class="ibox-content">

             <table class="table table-bordered">
                 <thead>
                    <tr>
                    <th width="40%">Outputs</th>
                    </tr>
                </thead>
                <tbody id="outputs_table">

                </tbody>
            </table>
        </div>
    </div>
</div>
</div>