<!--
*
*  INSPINIA - Responsive Admin Theme
*  version 2.8
*
-->
{% load static %}

<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Employee Performance Management Suite</title>

    <link href="{%  static 'assets/front-end/admin_new/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{%  static 'assets/front-end/admin_new/font-awesome/css/font-awesome.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">

    <!-- Toastr style -->
    <link href="{%  static 'assets/front-end/admin_new/css/plugins/toastr/toastr.min.css' %}" rel="stylesheet">

    <!-- Gritter -->
    <link href="{%  static 'assets/front-end/admin_new/js/plugins/gritter/jquery.gritter.css' %}" rel="stylesheet">

    <link href="{%  static 'assets/front-end/admin_new/css/animate.css' %}" rel="stylesheet">
    <link href="{%  static 'assets/front-end/admin_new/css/style.css' %}" rel="stylesheet">
    <!--date picker-->
    <link href="{%  static 'assets/front-end/admin_new/css/plugins/datapicker/datepicker3.css' %}" rel="stylesheet">
    <!-- Bootstrap Tour -->
    <link href="{%  static 'assets/front-end/admin_new/css/plugins/bootstrapTour/bootstrap-tour.min.css' %}" rel="stylesheet">

    <!-- Sweet Alert -->
    <link href="{%  static 'assets/front-end/admin_new/css/plugins/sweetalert/sweetalert.css' %}" rel="stylesheet">

</head>

<body>
    <div id="wrapper">
        {% block content %}{% endblock %}
    </div>

    <!-- Mainly scripts -->
    <script src="{%  static 'assets/front-end/admin_new/js/jquery-3.1.1.min.js' %}"></script>
    <script src="{%  static 'assets/front-end/admin_new/js/popper.min.js' %}"></script>
    <script src="{%  static 'assets/front-end/admin_new/js/bootstrap.js' %}"></script>
    <script src="{%  static 'assets/front-end/admin_new/js/plugins/metisMenu/jquery.metisMenu.js' %}"></script>
    <script src="{%  static 'assets/front-end/admin_new/js/plugins/slimscroll/jquery.slimscroll.min.js' %}"></script>

    <!-- Flot -->
    <script src="{%  static 'assets/front-end/admin_new/js/plugins/flot/jquery.flot.js' %}"></script>
    <script src="{%  static 'assets/front-end/admin_new/js/plugins/flot/jquery.flot.tooltip.min.js' %}"></script>
    <script src="{%  static 'assets/front-end/admin_new/js/plugins/flot/jquery.flot.spline.js' %}"></script>
    <script src="{%  static 'assets/front-end/admin_new/js/plugins/flot/jquery.flot.resize.js' %}"></script>
    <script src="{%  static 'assets/front-end/admin_new/js/plugins/flot/jquery.flot.pie.js' %}"></script>

    <!-- Peity -->
    <script src="{%  static 'assets/front-end/admin_new/js/plugins/peity/jquery.peity.min.js' %}"></script>
    <script src="{%  static 'assets/front-end/admin_new/js/demo/peity-demo.js' %}"></script>

    <!-- Custom and plugin javascript -->
    <script src="{%  static 'assets/front-end/admin_new/js/inspinia.js' %}"></script>
    <script src="{%  static 'assets/front-end/admin_new/js/plugins/pace/pace.min.js' %}"></script>

    <!-- jQuery UI -->
    <script src="{%  static 'assets/front-end/admin_new/js/plugins/jquery-ui/jquery-ui.min.js' %}"></script>

    <!-- GITTER -->
    <script src="{%  static 'assets/front-end/admin_new/js/plugins/gritter/jquery.gritter.min.js' %}"></script>

    <!-- Sparkline -->
    <script src="{%  static 'assets/front-end/admin_new/js/plugins/sparkline/jquery.sparkline.min.js' %}"></script>

    <!-- Sparkline demo data  -->
    <script src="{%  static 'assets/front-end/admin_new/js/demo/sparkline-demo.js' %}"></script>

    <!-- ChartJS-->
    <script src="{%  static 'assets/front-end/admin_new/js/plugins/chartJs/Chart.min.js' %}"></script>

    <!-- Toastr -->
    <script src="{%  static 'assets/front-end/admin_new/js/plugins/toastr/toastr.min.js' %}"></script>
    <!-- Data picker -->
   <script src="{%  static 'assets/front-end/admin_new/js/plugins/datapicker/bootstrap-datepicker.js' %}"></script>
    <!-- Typehead -->
    <script src="{%  static 'assets/front-end/admin_new/js/plugins/typehead/bootstrap3-typeahead.min.js' %}"></script>
    <!-- custom jquery -->
    <script src="{% static 'assets/front-end/performance/performance.js' %}"></script>
    <script src="{% static 'assets/front-end/ppm/ppm.js' %}"></script>
    <script src="{% static 'assets/front-end/analytics/analytics.js' %}"></script>
    <script src="{% static 'assets/front-end/strategy/strat.js' %}"></script>
    <script src="{% static 'assets/front-end/mtef/mtef.js' %}"></script>
    <script src="{% static 'assets/front-end/app/app.js' %}"></script>

    <script src="{% static 'assets/packages/toggle/js/bootstrap-toggle.js' %}"></script>
     <!-- Bootstrap Tour -->
    <script src="{% static 'assets/front-end/admin_new/js/plugins/bootstrapTour/bootstrap-tour.min.js' %}"></script>

    <!-- Sweet alert -->
    <script src="{% static 'assets/front-end/admin_new/js/plugins/sweetalert/sweetalert.min.js' %}"></script>

    <script>
        $(document).ready(function() {
            setTimeout(function() {
                toastr.options = {
                    closeButton: true,
                    progressBar: true,
                    showMethod: 'slideDown',
                    timeOut: 3000,
                    preventDuplicates: true

                };
            }, 1300);
        });
    </script>
<script>

    $(document).ready(function (){

        // Instance the tour
        var tour = new Tour({
            steps: [{

                    element: "#step1",
                    title: "Title of my step",
                    content: "Introduce new users to your product by walking them through it step by step.",
                    placement: "top"
                },
                {
                    element: "#step2",
                    title: "Title of my step",
                    content: "Content of my step",
                    placement: "top",
                    backdrop: true,
                    backdropContainer: '#wrapper',
                    onShown: function (tour){
                        $('body').addClass('tour-open')
                    },
                    onHidden: function (tour){
                        $('body').removeClass('tour-close')
                    }
                },
                {
                    element: "#step3",
                    title: "Title of my step",
                    content: "Introduce new users to your product by walking them through it step by step.",
                    placement: "bottom"
                },
                {
                    element: "#step4",
                    title: "Title of my step",
                    content: "Introduce new users to your product by walking them through it step by step.",
                    placement: "top"
                }
            ]});

        // Initialize the tour
        tour.init();

        $('.startTour').click(function(){
            tour.restart();

            // Start the tour
            // tour.start();
        })

    });

</script>

</body>
</html>
