{% extends "base.html" %}

{% block content %}
        <nav class="navbar-default navbar-static-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav metismenu" id="side-menu">
                    <li class="nav-header">
                        <div class="dropdown profile-element">
{#                            <img alt="Logo" class="rounded-circle" src=""/>#}

                        </div>
                        <div class="logo-element">
                            EPMS
                        </div>
                    </li>
                    <li class="active">
                        <a href="#" id="strategicPlanModule"><i class="fa fa-th-large"></i> <span class="nav-label">Strategy Planning & Development</span> <span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level collapse">
                            <li><a href="#" id="add_overview">Overview</a></li>
                            <li><a href="#" id="cap_objective">Framework</a></li>
{#                            <li><a href="#" id="update_objective">Update Objectives</a></li>#}
{#                            <li><a href="#" id="cap_links">Links to Other Plans</a></li>#}
{#                            <li><a href="#" id="cap_annexture">Annexures </a></li>#}
                        </ul>
                    </li>

                    <li>
                        <a href="#" id="appModule"><i class="fa fa-calendar-o"></i> <span class="nav-label">Annual Performance Pan</span><span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level collapse">
                            <li><a href="#" id="captureAPP">Capture APP</a></li>

                        </ul>
                    </li>
                    <li>
                        <a href="#" id="mtef_budget"><i class="fa fa-money"></i> <span class="nav-label">MTEF & Budget</span><span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level collapse">
                            <li><a href="#" id="current_payments">Current Payments</a></li>
                            <li><a href="#" id="transfers">Transfers & Subsidies</a></li>
                            <li><a href="#" id="capital_assets">Payments & Capital Assets</a></li>
                        </ul>
                    </li>

                    <li>
                        <a href="#" id="programmesProjects"><i class="fa fa-edit"></i> <span class="nav-label">Programme & Project Management</span><span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level collapse">
                            <li><a href="#" id="add_project">Register Project</a></li>
                             <li><a href="#" id="view_projects">Projects</a></li>
{#                             <li><a href="#" id="view_project">View Project</a></li>#}
                             <li><a href="#" id="add_project_contr">Add Project Contributor</a></li>
                             <li><a href="#" id="view_contributors">Contributors</a></li>
                        </ul>
                    </li>

                    <li>
                        <a href="" id="launchPerformance"><i class="fa fa-flask"></i> <span class="nav-label">Employee Performance Management</span></span><span class="fa arrow"></span></a><!--<span class="fa arrow"></span></a>-->
                        <ul class="nav nav-second-level collapse">
                            <li><a href="#" id="pa_create">Agreement</a>
                                <!--
                                <ul class="nav nav-third-level"><li><a href="#" id="kraForm">Key Result Areas</a></li>
                                <li class="nav nav-third-level"><a href="#" id="kpiForm">Key Performance Indicator</a></li>
                                <li class="nav nav-third-level"><a href="#" id="targets">Targets</a></li>
                                <li class="nav nav-third-level"><a href="#" id="training_needs">Personal Development Plan</a></li>
                                </ul>
                                -->
                            </li>
                             <li>
                                 <a href="#" id="review_parent">Review</a>
                             </li>
                            <li class="nav nav-second-level"><a href="#" id="finalRatings">Final Ratings</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-files-o"></i> <span class="nav-label">Reporting</span><span class="float-right label label-primary">NEW</span></a>
                        <ul class="nav nav-second-level collapse">
                            <li><a href="#">Quarterly</a></li>
                            <li><a href="#">Annually</a></li>

                        </ul>
                    </li>

                    <li>
                        <a href="" id="analytics"><i class="fa fa-bar-chart-o"></i> <span class="nav-label">Analytics Dashboard Reports</span><span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level collapse">

                            <li><a href="#" id="display_expenditure">Expenditure Analysis</a></li>
                            <li><a href="#" id="display_ppm_analytics">Programme & Projects Status</a></li>
                            <li><a href="#" id="">Performance Agreement</a></li>
                            <li><a href="#" id="">Signed off PR Analysis</a></li>
                            <li><a href="#" id="">Monthly Performance - APP</a></li>

                        </ul>
                    </ul>

            </div>
        </nav>

        <div id="page-wrapper" class="gray-bg dashbard-1">
        <div class="row border-bottom">
        <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>

        </div>
            <ul class="nav navbar-top-links navbar-right">
                <li style="padding: 20px">
                    <span class="m-r-sm text-muted welcome-message">Employee Performance Management Suite & Real Time Analytics.</span>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="far fa-envelope-open fa-2x" title="Inbox"></i>
                    </a>
                </li>

                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="">
                       <i class="fas fa-chart-pie fa-2x" title="Reports"></i>
                    </a>

                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                      <i class="fas fa-file-contract fa-2x" title="Policies"></i>
                    </a>

                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                      <i class="fas fa-question-circle fa-2x" title="Get help"></i>
                    </a>

                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                     <i class="fas fa-sign-out-alt fa-2x" title="Log Out"></i>
                    </a>

                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fas fa-user-alt fa-2x" title="{{ profile.first_name }}'s Profile"></i>
                        {{ profile.first_name }} {{ profile.last_name }}
                    </a>

                </li>

            </ul>

        </nav>
        </div>
            <div class="row  border-bottom white-bg dashboard-header">

                    <div class="col-md-3">
                        <h2>  {{ profile.organisation }}</h2>
                        <small>Enterprise Performance Management Suite</small>
                    </div>
            </div>

             {% block page %}

            {% endblock %}
            <div class="footer">
                <div class="float-right">
                    Enterprise Performance Management Suite Specialists
                </div>
                <div>
                    <strong>Copyright</strong> Avortech &copy; 2014-2018
                </div>
            </div>
        </div>


{% endblock %}