<div class="wrapper wrapper-content animated fadeInRight" id="capture_app" style="display: none">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>Annual Performance Plan <small>Organisational strategic overview</small></h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-lg-4">
                            <form role="form">
                                 {% csrf_token %}
                                <div class="form-group"><label for="app_programme">Programme Name</label>
                                    <input type="text" class="form-control" id="app_programme" readonly >
                                </div>

                                <div class="form-group"><label for="app_vision">Vision</label>
                                    <textarea readonly class="form-control" id="app_vision" rows="5" cols="500"></textarea>
                                </div>

                                <div class="form-group"><label for="app_mandates">Revisions to Legislation and other Mandates </label>
                                    <textarea readonly class="form-control" id="app_mandates" rows="5" cols="500"></textarea>
                                </div>

                                <div class="form-group"><label for="load_objectives">Select SubProgramme</label>
                                    <select name="app_subprogramme" id="load_objectives" class="form-control app_subprogramme">
                                        <option value="None" selected="Selected">SubProgrammes</option>
                                    </select>
                                </div>

                                <div class="form-group"><label for="">Select KPI</label>
                                    <select name="app_kpis" id="load_targets" class="form-control app_kpis">
                                        <option value="None" selected="Selected"></option>
                                    </select>
                                </div>
                                <button type="button" class="btn btn-success" data-toggle="modal" data-target="#myModal4">
                                Capture Quarterly Targets
                                </button>

                                <button type="button" class="btn btn-white" data-toggle="modal" data-target="#annualTargetsModal">
                                View Quarterly Targets
                                </button>
                                <div class="modal inmodal" id="myModal4" tabindex="-1" role="dialog"  aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content animated fadeIn">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                            <i class="fa fa-calendar-check-o modal-icon"></i>
                                            <h4 class="modal-title">Quarterly Targets</h4>
                                            <small>Annual Performance Plan.</small>
                                        </div>
                                        <div class="modal-body">

                                            <form role="form">

                                                <div class="form-group"><label for="quarter">Quarter</label>
                                                    <select name="quarter" id="" class="form-control quarter">
                                                        <option value="1">1</option>
                                                        <option value="2">2</option>
                                                        <option value="3">3</option>
                                                        <option value="4">4</option>
                                                    </select>
                                                </div>

                                                <div class="form-group">
                                                    <label class="font-normal" for="target_start_date">Start Date</label>
                                                        <div class="input-group date">
                                                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                                            <input type="text" class="form-control" id="target_start_date">
                                                        </div>
                                                </div>

                                                    <div class="form-group">
                                                    <label class="font-normal" for="target_end_date">End Date</label>
                                                        <div class="input-group date">
                                                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                                            <input type="text" class="form-control" id="target_end_date">
                                                        </div>
                                                    </div>

                                                <div class="form-group"><label for="baseline">Baseline</label>
                                                    <input type="text" class="form-control" id="baseline">
                                                </div>

                                                <div class="form-group"><label for="evidence">Evidence Criteria</label>
                                                    <input type="text" class="form-control" id="evidence">
                                                </div>

                                            </form>

                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
                                            <button type="button" class="btn btn-success add_target">Save changes</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            </form>
                        </div>
                        <div class="col-lg-4">
                             <form role="form">
                              {% csrf_token %}
                              <div class="form-group"><label for="app_branch">Branch</label>
                                  <input type="text" class="form-control" id="app_branch" maxlength="500" readonly>
                              </div>

                              <div class="form-group"><label for="app_mission">Mission</label>
                                   <textarea readonly class="form-control" id="app_mission" rows="5" cols="500"></textarea>
                              </div>

                              <div class="form-group"><label for="app_mtef">Budget and MTEF Estimates </label>
                                  <textarea readonly class="form-control" id="app_mtef" rows="5" cols="500"></textarea>
                              </div>


                              <div class="form-group"><label for="">Select Strategic Objective</label>
                                    <select name="app_strat_objective" id="load_outputs" class="form-control app_strat_objective">
                                        <option value="None" selected="Selected">Strategic Objectives</option>
                                    </select>
                              </div>
                                 <div class="form-group"><label for="">Select Annual Target</label>
                                    <select name="app_annual_targets" id="" class="form-control app_annual_targets">
                                        <option value="None" selected="Selected">Annual Targets</option>
                                    </select>
                                </div>
                                <button type="button" class="btn btn-success" data-toggle="modal" data-target="#myRisksModal">
                                Capture Risk
                                </button>

                                <button type="button" class="btn btn-white" data-toggle="modal" data-target="#quarterlyRisksModal">
                                View Risks
                                </button>
                                 <div class="modal inmodal" id="myRisksModal" tabindex="-1" role="dialog"  aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content animated fadeIn">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                                <i class="fa fa-calendar-check-o modal-icon"></i>
                                                <h4 class="modal-title">Quarterly Target Risk</h4>
                                                <small>Annual Performance Plan.</small>
                                            </div>
                                            <div class="modal-body">

                                                <form role="form">

                                                    <div class="form-group"><label for="app_risks">Risk</label>
                                                        <textarea class="form-control" id="app_risks" maxlength="500" rows="5"></textarea>
                                                    </div>

                                                </form>

                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
                                                <button type="button" class="btn btn-success clear_risk" id="">Save & Add Another Risk</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal inmodal" id="myRisksModal" tabindex="-1" role="dialog"  aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content animated fadeIn">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                                <i class="fa fa-calendar-check-o modal-icon"></i>
                                                <h4 class="modal-title">Quarterly Target Risk</h4>
                                                <small>Annual Performance Plan.</small>
                                            </div>
                                            <div class="modal-body">

                                                <form role="form">

                                                    <div class="form-group"><label for="app_risks">Risk</label>
                                                        <textarea class="form-control" id="app_risks" maxlength="500" rows="5"></textarea>
                                                    </div>

                                                </form>

                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
                                                <button type="button" class="btn btn-success clear_risk" id="">Save & Add Another Risk</button>
                                            </div>
                                        </div>
                                    </div>
                                    </div>

                                    </div>
                             </form>

                        </div>
                        <div class="col-lg-4">
                            <div class="form-group"><label for="chief_directorate">Chief Directorate</label>
                                <input type="text" class="form-control" id="app_chief_directorate" maxlength="500" readonly>
                            </div>
                            <div class="form-group"><label for="app_s_analysis">Situational Analysis</label>
                                <textarea readonly class="form-control" id="app_s_analysis" rows="5" cols="500"></textarea>
                             </div>

                            <div class="form-group"><label for="app_org_risks">Organisational Risks</label>
                                <textarea readonly class="form-control" id="app_org_risks" rows="5" cols="500"></textarea>
                             </div>

                            <div class="form-group"><label for="">Select Strategic Outputs</label>
                                <select name="app_strat_outputs" id="load_kpis" class="form-control app_strat_outputs">
                                    <option value="None" selected="Selected">Strategic Outputs</option>
                                </select>
                            </div>
                            </div>
                            <div class="modal-footer">
                            <button type="button" class="btn btn-primary pull-right " id="sign_off_app">Sign Off</button>
                            <button type="button" class="btn btn-primary " id="save_app">Save and Exit</button></div>
                     </div>
                </div>
             </div>
        </div>

    </div>
</div>