<div class="wrapper wrapper-content animated fadeInRight" id="ppm_dash" style="display: none">

                <div class="row">

                    <div class="col-lg-4">
                        <div class="ibox ">
                            <div class="ibox-title">
                                <span class="label label-primary float-right">Today</span>
                                <h5>Projects in Progress</h5>
                            </div>
                            <div class="ibox-content">
                                <h1 class="no-margins">22</h1>
                                <div class="stat-percent font-bold text-navy">20% <i class="fa fa-level-up"></i></div>
                                <small>Active</small>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="ibox ">
                            <div class="ibox-title">
                                <span class="label label-info float-right">Monthly</span>
                                <h5>Completed</h5>
                            </div>
                            <div class="ibox-content">
                                <h1 class="no-margins">60</h1>
                                <div class="stat-percent font-bold text-info">40% <i class="fa fa-level-up"></i></div>
                                <small>New & Recurring</small>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="ibox ">
                            <div class="ibox-title">
                                <span class="label label-warning float-right">Monthly</span>
                                <h5>Cancelled</h5>
                            </div>
                            <div class="ibox-content">
                                <h1 class="no-margins">12</h1>
                                <div class="stat-percent font-bold text-warning">16% <i class="fa fa-level-up"></i></div>
                                <small>Cancelled</small>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="ibox ">
                            <div class="ibox-title">
                                <span class="label label-warning float-right">Monthly</span>
                                <h5>At Risk</h5>
                            </div>
                            <div class="ibox-content">
                                <h1 class="no-margins">12</h1>
                                <div class="stat-percent font-bold text-danger">16% <i class="fa fa-level-up"></i></div>
                                <small>Cancelled</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
