<div class="row">
<div class="col-lg-12" id="list_emp_projects" style="display: none">
    <div class="ibox">
        <div class="ibox-title">
            <h5>My Projects</h5>
            <div class="ibox-tools">
                <a class="collapse-link">
                    <i class="fa fa-chevron-up"></i>
                </a>
                <a class="close-link">
                    <i class="fa fa-times"></i>
                </a>
            </div>
        </div>
        <div class="ibox-content">

             <table class="table table-bordered">
                 <thead>
                 <tr>
                    <th>#</th>
                    <th>Project Name</th>
                    <th>Programme Name</th>
                    <th>Status</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Edit</th>
                    <th>Stop</th>
                 </tr>
                </thead>
                <tbody id="emp_projects">

                </tbody>
            </table>
        </div>
    </div>
</div>
</div>