<div class="wrapper wrapper-content animated fadeInRight" id="kra_new" style="display: none">
    <div class="row">
        <div class="col-lg-6">
            <div class="tabs-container">
            <ul class="nav nav-tabs" role="tablist">
                <li><a class="nav-link active" data-toggle="tab" href="#tab-1"> Add New KRA</a></li>
                <li><a class="nav-link" data-toggle="tab" href="#tab-2" id="myKrasForm">My KRAs</a></li>
            </ul>
            <div class="tab-content">
                <div role="tabpanel" id="tab-1" class="tab-pane active">
                    <div class="panel-body">
                        <div class="ibox ">
                            <div class="ibox-content">
                                <div class="row">

                                    <div class="col-lg-7 b-r">

                                        <form role="form">
                                             {% csrf_token %}
                                             <input type="hidden" id="pa_id" value="">
                                            <div class="form-group"><label for="kra">Key Result Area</label>
                                                <textarea class="form-control" id="kra" maxlength="500" rows="5"></textarea>
                                            </div>

                                        </form>


                                    </div>
                                     <div class="col-lg-5">
                                         <form role="form">
                                             {% csrf_token %}
                                               <div class="form-group col-md-4"><label for="weight">Weight</label>
                                                <input type="text" id="weight"  class="form-control">
                                            </div>
                                         </form>
                                    </div>
                                    <div class="modal-footer ">
                                        <button type="button" class="btn btn-primary" id="addAnotherKRA">Save and Continue Editing</button>
                                        <button type="button" class="btn btn-primary " id="saveKRA">Save and Exit</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
            <div role="tabpanel" id="tab-2" class="tab-pane">
                <div class="panel-body">
                    <div class="ibox-content">
                        <div class="row">
                            <div class="ibox">
                                 <table class="table table-bordered">
                                     <thead>
                                        <tr>
                                        <th>#</th>
                                        <th width="80%">KRA</th>
                                        <th> Weight</th>
                                        <th>Update</th>
                                        <th>Delete</th>
                                    </thead>
                                    <tbody id="_kras">

                                    </tbody>
                                </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>