 <div class="wrapper wrapper-content animated fadeInRight" id="capture_target" style="display: none">
    <div class="row">
        <div class="col-lg-6">
            <div class="tabs-container">
                <ul class="nav nav-tabs" role="tablist">
                    <li><a class="nav-link active" data-toggle="tab" href="#new_target"> Add Target</a></li>
                    <li><a class="nav-link" data-toggle="tab" href="#curr_target" id="my_targets_list">My Targets</a></li>
                </ul>
                <div class="tab-content">
                    <div role="tabpanel" id="new_target" class="tab-pane active">
                        <div class="panel-body">
                            <div class="ibox ">
                                <div class="ibox-content">
                                    <div class="row">
                                         <div class="col-lg-8">
                                             <form role="form">
                                                 {% csrf_token %}
                                                 <div class="form-group"><label for="resources">Resources</label>
                                                    <textarea class="form-control" id="resources" maxlength="500" rows="5"></textarea>
                                                </div>
                                                 <div class="form-group"><label for="target">Target Description</label>
                                                    <textarea class="form-control" id="target" maxlength="500" rows="5"></textarea>
                                                </div>
                                                 <div class="input-group"><span class="input-group-prepend">
                                                    <button type="button" class="btn btn-outline btn-success kpis" data-toggle="modal"
                                                    data-target="#attach_kpi">Attach KPI</button> </span>
                                                     <input type="hidden" id="kpi_target_id" value="">
                                                    <input type="text" class="form-control staff_kpi_target" value="" >
                                                 </div>
                                             </form>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="form-group col-md-8"><label for="tf_start">Time Frame Start</label>
                                                <input type="text" id="tf_start"  class="form-control">
                                            </div>
                                            <div class="form-group col-md-8"><label for="tf_end">Time Frame End</label>
                                                <input type="text" id="tf_end"  class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                        <div class="modal-footer ">
                                        <button type="button" class="btn btn-primary" id="NULL">Save and Continue Editing</button>
                                        <button type="button" class="btn btn-primary " id="save_target">Save</button>
                                        </div>
                                    </div>
                                </div>
                        </div>
                    </div>
                    <div role="tabpanel" id="curr_target" class="tab-pane">
                        <div class="panel-body">
                            <div class="ibox-content">
                                 <table class="table table-bordered">
                                     <thead>
                                        <tr>
                                        <th>#</th>
                                        <th width="40%">Target Description</th>
                                        <th>Start Date</th>
                                        <th>End Date</th>
                                        <th>Edit</th>
                                        <th>Delete</th>
                                    </thead>
                                    <tbody id="targets_list"></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

