<div class="modal inmodal fade" id="updatePDPModal" tabindex="-1" role="dialog"  aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Personal Development Plan</h4>
                <small class="font-bold">Employee Performance Management.</small>
            </div>
            <div class="modal-body">
            <form role="form" id="kra_pdp">
                {% csrf_token %}
                <input type="hidden" value="" id="pdp_id">

                 <div class="form-group"><label for="update_t_type">Development Type</label>
                    <textarea class="form-control" id="update_t_type" maxlength="500" rows="5" ></textarea>
                </div>
                <div class="form-group"><label for="update_outcome">Expected Outcome</label>
                    <textarea class="form-control" id="update_outcome" maxlength="500" rows="5" ></textarea>
                </div>
                <div class="form-group"><label for="update_frame">Time Frame</label>
                   <select class="form-control" id="update_frame">
                        <option value="default">Select Time Frame</option>
                        <option value="d">Daily</option>
                        <option value="w">Weekly</option>
                        <option value="m">Monthly</option>
                        <option value="a">Annually</option>
                    </select>
                </div>
            </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary"  id="save_pdp_update">Add and Exit</button>
            </div>
        </div>
    </div>
</div>