<div class="modal inmodal fade" id="updateKpiModal" tabindex="-1" role="dialog"  aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Key Performance Indicator</h4>
                <small class="font-bold">Employee Performance Agreement</small>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-8">
                        <form role="form">
                             {% csrf_token %}
                             <input type="hidden" id="staff_kpi_kra" value="">
                            <div class="form-group"><label for="update_staff_kpi">Key Performance Indicator</label>
                                <textarea class="form-control" id="update_staff_kpi" maxlength="500" rows="5"></textarea>
                            </div>
                        </form>
                    </div>
                     <div class="col-lg-4">
                         <form>
                             <div class="row">
                                 <div class="input-group col-lg-4"><label for="update_staff_kpi_weight">Weight</label>
                                    <input type="text" id="update_staff_kpi_weight" class="form-control">
                                 </div>
                             </div>
                        </form>

                    </div>
                    <div class="modal-footer ">
                        <button type="button" class="btn btn-primary" id="NULL">Save and Continue Editing</button>
                        <button type="button" class="btn btn-primary " id="update_staff_kpi">Save</button>
                    </div>
                </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary"  id="update_kpi">Submit and Save</button>
            </div>
        </div>
    </div>
</div>

