{% extends "dashboard_base.html" %}
{% block page %}

    <input type="hidden" id="employee_branch" value="">
        <!-- /.row -->
        <!-- /.row -->
        {% include 'app/capture_app.html' %}
        {% include 'app/quartely_targets.html' %}
        {% include 'app/quartely_risks.html' %}

        {% include 'analytics/expenditure.html' %}
        {% include 'analytics/ppm.html' %}
        {% include 'mtef/capital_assets.html' %}
        {% include 'mtef/current_payments.html' %}
        {% include 'mtef/transfers.html' %}
        {% include 'employee_performance/epa/attach_target_kpi.html' %}
        {% include 'employee_performance/epa/create_agreement.html' %}
        {% include 'employee_performance/epa/kra_create.html' %}
        {% include 'employee_performance/epa/training_create.html' %}
        {% include 'employee_performance/epr/start_review.html' %}
        {% include 'employee_performance/epr/review_kras.html' %}
        {% include 'ppm/add_project.html' %}
        {% include 'ppm/employee_projects.html' %}
        {% include 'ppm/update_emp_project.html' %}
        {% include 'ppm/add_project_contributor.html' %}
        {% include 'ppm/contributor_project.html' %}
        {% include 'ppm/contributors.html' %}
        {% include 'strategy/goal_modal.html' %}
        {% include 'strategy/strategic_objective_modal.html' %}
        {% include 'strategy/add_overview.html' %}
        {% include 'strategy/add_situational_analysis.html' %}
        {% include 'strategy/sa_list.html' %}
        {% include 'strategy/add_organisational_risk.html' %}
        {% include 'strategy/org_risks_list.html' %}
        {% include 'strategy/add_strat_output_goal.html' %}
        {% include 'strategy/list_strat_output_goal.html' %}
        {% include 'strategy/add_values.html' %}
        {% include 'strategy/values_list.html' %}
        {% include 'strategy/add_strat_obj.html' %}
        {% include 'strategy/add_kpi_modal.html' %}
        {% include 'strategy/add_annual_targets_modal.html' %}
        {% include 'strategy/add_strat_output_modal.html' %}
        {% include 'strategy/add_risk_modal.html' %}
        {% include 'strategy/add_rsc_plan_modal.html' %}
        {% include 'strategy/add_obj_modal.html' %}
        {% include 'strategy/list_outputs_entered.html' %}
        {% include 'strategy/list_kpis_edit.html' %}
        {% include 'strategy/list_annual_targets_entered.html' %}
        {% include 'strategy/list_obj_risks_edit.html' %}
        {% include 'strategy/list_rsc_edit.html' %}
        {% include 'strategy/list_strat_obj_edit.html' %}
        {% include 'employee_performance/epa/add_new_output_kra_modal.html' %}
        {% include 'employee_performance/epa/update_output.html' %}
        {% include 'employee_performance/epa/targets.html' %}
        {% include 'employee_performance/epa/add_new_pdp_kra_modal.html' %}
        {% include 'employee_performance/landing.html' %}
        {% include 'employee_performance/epa/training_update.html' %}
        {% include 'employee_performance/epa/update_kra.html' %}
        {% include 'employee_performance/epr/review_kras.html' %}
        {% include 'employee_performance/epa/kpi.html' %}
        {% include 'employee_performance/epa/update_kpi.html' %}


{#        {% include 'strategy/update_overview.html' %}#}

            <!-- /.col-lg-8 -->

            <!-- /.col-lg-4 -->
        <!-- /.row -->
    <!-- /#page-wrapper -->



{% endblock %}